[core]
  editor = vim
  autocrlf = input
[diff]
  renames = copies
  tool = vimdiff
[color "diff"]
  whitespace = red reverse
[merge]
  tool = meld
[color]
  ui = always
  diff = auto
  branch = auto
  interactive = auto
  status = auto
[alias]
  st = status
  stat = status
  sb = submodule
  co = checkout
  br = branch
  cp = cherry-pick
  df = "diff --ws-error-highlight=default,old,new"
[push]
  default = current
[merge]
  ff = no
[pull]
  ff = only
[commit]
  gpgsign = false
[credential]
  helper = store
[user]
  name = Dongwon Kim
  email = dkim010@gmail.com
[include]
  path = ~/.custom.gitconfig
