[core]
    editor = vim
[diff]
    tool = vimdiff
[color]
    ui = auto
    branch = auto
    interactive = auto
    status = auto
[alias]
    st = status
    stat = status
    sb = submodule
    co = checkout
    br = branch
[push]
    default = current
[credential]
    helper = cache --timeout=3600
[include]
	path = ~/.custom.gitconfig
