[core]
  editor = vim
  autocrlf = input
[diff]
  renames = copies
  tool = vimdiff
[color "diff"]
  whitespace = red reverse
[merge]
  tool = meld
[color]
  ui = always
  diff = auto
  branch = auto
  interactive = auto
  status = auto
[alias]
  st = status
  stat = status
  sb = submodule
  co = checkout
  br = branch
  cp = cherry-pick
  df = "diff --ws-error-highlight=default,old,new"
[push]
  default = current
[merge]
  ff = no
[credential]
  helper = store
[include]
  path = ~/.custom.gitconfig
